.elementor-15
  .elementor-element.elementor-element-e0fb59a:not(.elementor-motion-effects-element-type-background),
.elementor-15
  .elementor-element.elementor-element-e0fb59a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-15 .elementor-element.elementor-element-e0fb59a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-15
  .elementor-element.elementor-element-e0fb59a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-15
  .elementor-element.elementor-element-50dcd9f
  .elementor-image
  img {
  width: 60%;
}
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  .elementor-menu-toggle {
  margin: 0 auto;
}
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  .elementor-nav-menu
  .elementor-item {
  font-family: "Roboto Slab", Sans-serif;
}
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  .elementor-nav-menu--main
  .elementor-item {
  color: #ffffff;
}
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #e9b04c;
}
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:before,
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:after {
  background-color: #e9b04c;
}
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  .e--pointer-framed
  .elementor-item:before,
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  .e--pointer-framed
  .elementor-item:after {
  border-color: #e9b04c;
}
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  .elementor-nav-menu--dropdown
  a,
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  .elementor-menu-toggle {
  color: #e9b04c;
}
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  .elementor-nav-menu--dropdown {
  background-color: #707070;
}
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: "Roboto Slab", Sans-serif;
}
.elementor-15
  .elementor-element.elementor-element-18e9bf1
  > .elementor-widget-container {
  margin: 10px 0px 0px 0px;
}
.elementor-15
  .elementor-element.elementor-element-7974381
  .elementor-search-form {
  text-align: right;
}
.elementor-15
  .elementor-element.elementor-element-7974381
  .elementor-search-form__toggle
  i {
  font-size: 40px;
  width: 40px;
  height: 40px;
}
.elementor-15
  .elementor-element.elementor-element-7974381:not(.elementor-search-form--skin-full_screen)
  .elementor-search-form__container {
  border-radius: 3px;
}
.elementor-15
  .elementor-element.elementor-element-7974381.elementor-search-form--skin-full_screen
  input[type="search"].elementor-search-form__input {
  border-radius: 3px;
}
@media (max-width: 1024px) {
  .elementor-15 .elementor-element.elementor-element-50dcd9f {
    text-align: left;
  }
  .elementor-15
    .elementor-element.elementor-element-50dcd9f
    .elementor-image
    img {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .elementor-15 .elementor-element.elementor-element-7507946 {
    width: 20.019%;
  }
  .elementor-15 .elementor-element.elementor-element-6e2c27f {
    width: 59.682%;
  }
  .elementor-15 .elementor-element.elementor-element-c3aadbb {
    width: 19.965%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-15 .elementor-element.elementor-element-7507946 {
    width: 20%;
  }
  .elementor-15 .elementor-element.elementor-element-6e2c27f {
    width: 70%;
  }
  .elementor-15 .elementor-element.elementor-element-c3aadbb {
    width: 10%;
  }
}
@media (max-width: 767px) {
  .elementor-15 .elementor-element.elementor-element-7507946 {
    width: 100%;
  }
  .elementor-15 .elementor-element.elementor-element-50dcd9f {
    text-align: center;
  }
  .elementor-15
    .elementor-element.elementor-element-50dcd9f
    .elementor-image
    img {
    width: 33%;
  }
  .elementor-15 .elementor-element.elementor-element-6e2c27f {
    width: 20%;
  }
  .elementor-15 .elementor-element.elementor-element-c3aadbb {
    width: 80%;
  }
}
